<br>
<div class="container lead text-center"> Encuentra nuestra academia de Tect Talent South en Málaga </div>
<br><br>
<div class="container" id="map-canvas"></div>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC5jn2AI_M7cdek6EqhMbFbdjieAI_rQ5I&callback=initMap" async defer></script>