<h1>Welcome#index</h1>
<p>Find me in app/views/welcome/index.html.erb</p>

<div id="map-canvas"></div>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC5jn2AI_M7cdek6EqhMbFbdjieAI_rQ5I&callback=initMap" async defer></script>